<div class="breadcumb-wrapper" style="background-image: url(assets/img/bg/breadcrumb_bg_01.jpg);background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;">
    <div class="container">
    <div class="breadcumb-content">
        <h1 class="breadcumb-title" >Liên hệ</h1>
        <ul class="breadcumb-menu">
            <li  data-delay="100"><a href="/">Trang chủ</a></li>
            <li  data-delay="100">Liên hệ</li>
        </ul>
    </div>
    </div>
</div>
<div class="space" id="contact-sec">
    <div class="container">
    <div class="contact-wrap1">
        <div class="row gy-40 gx-60 justify-content-center">
            <div class="col-lg-4">
                <div class="contact-feature-wrap">
                <div class="contact-feature-wrap-details">
                    <div class="footer-contact">
                        <div class="box-icon"><i class="fas fa-home"></i></div>
                        <div class="media-body">
                            <p class="box-label">Địa chỉ</p>
                            <h4 class="box-title">433 Nguyễn Khang - Yên Hòa - Hà Nội- Việt Nam</h4>
                        </div>
                    </div>
                    <div class="footer-contact">
                        <div class="box-icon"><i class="fas fa-phone"></i></div>
                        <div class="media-body">
                            <p class="box-label">Số điện thoại</p>
                            <h4 class="box-title"><a href="tel:+16365479658">0936.268.085</a></h4>
                        </div>
                    </div>
                    <div class="footer-contact">
                        <div class="box-icon"><i class="fas fa-envelope"></i></div>
                        <div class="media-body">
                            <p class="box-label">Email</p>
                            <h4 class="box-title"><a href="mailto:babymartgmail.com">infobabymart.com</a></h4>
                        </div>
                    </div>
                    <div class="footer-contact">
                        <div class="box-icon"><i class="fa-duotone fa-regular fa-headset"></i></div>
                        <div class="media-body">
                            <p class="box-label">Hỗ trợ</p>
                            <h4 class="box-title"><a href="tel:+16365479658">Từ Thứ 2 đến Thứ 7: 8:30 - 17:30</a></h4>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="contact-form1">
                <h4 class="contact-form-title">Liên hệ với chúng tôi</h4>
                <form [formGroup]="form" (ngSubmit)="submit()" class="input-label">

                <div class="row">

                    <div class="form-group col-sm-6">
                    <input type="text"
                            class="form-control bg-white"
                            placeholder="Tên của bạn"
                            formControlName="hoTen">

                    <small class="text-danger"
                            *ngIf="form.get('hoTen')?.touched && form.get('hoTen')?.invalid">
                        Vui lòng nhập tên
                    </small>
                    </div>

                    <div class="form-group col-sm-6">
                    <input type="email"
                            class="form-control bg-white"
                            placeholder="Email của bạn"
                            formControlName="email">

                    <small class="text-danger"
                            *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                        Email không hợp lệ
                    </small>
                    </div>

                    <div class="form-group col-sm-6">
                    <input type="text"
                            class="form-control bg-white"
                            placeholder="Số điện thoại"
                            formControlName="soDienThoai">
                        <small class="text-danger"
                            *ngIf="form.get('soDienThoai')?.touched && form.get('soDienThoai')?.invalid">
                            Số điện thoại không hợp lệ
                        </small>
                    </div>

                    <div class="form-group col-12">
                    <textarea cols="30"
                                rows="3"
                                class="form-control bg-white"
                                placeholder="Viết liên hệ của bạn"
                                formControlName="noiDung"></textarea>

                    <small class="text-danger"
                            *ngIf="form.get('noiDung')?.touched && form.get('noiDung')?.invalid">
                        Vui lòng nhập nội dung
                    </small>
                    </div>

                    <div class="form-btn col-12 mt-10">
                    <button class="ot-btn" type="submit" [disabled]="isSubmitting">
                        {{ isSubmitting ? 'Đang gửi...' : 'Gửi thông tin' }}
                        <i class="fas fa-arrow-right ms-2"></i>
                    </button>
                    </div>

                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="">
    <div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0920864278974!2d105.79723561156705!3d21.02900108768803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab43f83756ad%3A0x5c84a885f965e0e3!2zNDMzIMSQLiBOZ3V54buFbiBLaGFuZywgWcOqbiBIb8OgLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSAxMDAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1771924265619!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>