<div class="breadcumb-wrapper" data-bg-src="assets/img/bg/breadcrumb-bg.html">
    <div class="container">
    <div class="breadcumb-content">
        <h1 class="breadcumb-title" >Danh sách cẩm nang</h1>
        <ul class="breadcumb-menu">
            <li  data-delay="100"><a href="/">Trang chủ</a></li>
            <li  data-delay="100">Danh sách cẩm nang</li>
        </ul>
    </div>
    </div>
</div>
<section class="space-top space-extra-bottom" id="blog-sec">
    <div class="container">
    <div class="row gy-4 justify-content-center">
        <div class="col-xl-4 col-md-6" *ngFor="let item of news">
            <div class="blog-card style2" >
                <div class="blog-img"><img [src]="getImageUrl(item.anh)" alt="blog image"> <span class="blog-tag">{{item.tenDanhMuc}}</span></div>
                <div class="blog-content">
                <div class="blog-meta"><a href="/chitietcamnang/{{item.slug}}"><i class="far fa-calendar-days"></i>{{item.creationTime | date:'dd MMM, yyyy'}}</a> <a href="/chitietcamnang/{{item.slug}}"><i class="far fa-user"></i>Admin VietLifeStore</a></div>
                <h3 class="box-title"><a href="/chitietcamnang/{{item.slug}}">{{item.ten}}</a></h3>
                <a href="/chitietcamnang/{{item.slug}}" class="link-btn">Xem thêm<i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="ot-pagination text-center mt-40">
        <ul>
            <!-- Previous -->
            <li>
            <a
                href="javascript:void(0)"
                [class.disabled]="page === 1"
                (click)="page > 1 && changePage(page - 1)">
                <i class="fa-regular fa-angle-left"></i>
            </a>
            </li>

            <!-- Page numbers -->
            <li *ngFor="let p of getTotalPagesArray()">
            <a
                href="javascript:void(0)"
                [class.active]="p === page"
                (click)="changePage(p)">
                {{ p }}
            </a>
            </li>

            <!-- Next -->
            <li>
            <a
                href="javascript:void(0)"
                [class.disabled]="page === totalPages"
                (click)="page < totalPages && changePage(page + 1)">
                <i class="fa-regular fa-angle-right"></i>
            </a>
            </li>
        </ul>
    </div>
    </div>
</section>