<div class="breadcumb-wrapper" data-bg-src="assets/img/bg/breadcrumb-bg.html">
    <div class="container">
    <div class="breadcumb-content">
        <h1 class="breadcumb-title" data-cue="slideInUp">Thanh toán</h1>
        <ul class="breadcumb-menu">
            <li data-cue="slideInUp" data-delay="100"><a href="index.html">Trang chủ</a></li>
            <li data-cue="slideInUp" data-delay="100">Thanh toán</li>
        </ul>
    </div>
    </div>
</div>
<div class="ot-checkout-wrapper space-top space-extra-bottom">
    <div class="container">
    
    <form class="woocommerce-checkout mt-40" [formGroup]="checkoutForm" (ngSubmit)="placeOrder()">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="h4">Chi tiết thanh toán</h2>
                <div class="row">
                <div class="col-12 form-group">
                    <label for="fullName" style="padding: 0 23px;">Họ và tên <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="ten" id="fullName" placeholder="Nhập họ và tên">
                </div>
                <div class="col-md-6 form-group">
                    <label for="email" style="padding: 0 23px;">Email <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="email" id="email" placeholder="Nhập Email">
                </div>
                <div class="col-md-6 form-group">
                    <label for="phoneNumber" style="padding: 0 23px;">Số điện thoại <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="soDienThoai" id="phoneNumber" placeholder="Nhập số điện thoại"> 
                </div>
                <div class="col-12 form-group">
                    <label for="address" style="padding: 0 23px;">Địa chỉ giao hàng <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="diaChi" id="address" placeholder="Nhập địa chỉ giao hàng">
                </div>
                <div class="col-12 form-group">
                    <label for="note" style="padding: 0 23px;">Ghi chú đơn hàng</label>
                    <textarea cols="20" rows="5" class="form-control" formControlName="ghiChu" placeholder="Nhập ghi chú đơn hàng (nếu có)"></textarea>
                </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h2 class="h4">Đơn hàng của bạn</h2>
                <table class="cart_table mb-20">
                    <thead>
                        <tr>
                        <th class="cart-col-image">Ảnh</th>
                        <th class="cart-col-productname">Tên sản phẩm</th>
                        <th class="cart-col-price">Giá</th>
                        <th class="cart-col-quantity">Số lượng</th>
                        <th class="cart-col-total">Tổng cộng</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr class="cart_item" *ngFor="let item of cartItems">
                        <td data-title="Product">
                            <a class="cart-productimage" href="shop-details.html">
                                <img width="91" height="91" [src]="getImageUrl(item.anh)" alt="Image">
                            </a>
                        </td>
                        <td data-title="Name">
                            <a class="cart-productname" href="shop-details.html">{{ item.ten }}</a>
                            <div *ngIf="item.thuocTinhDaChon">
                                <small *ngFor="let attr of item.thuocTinhDaChon | keyvalue">
                                    {{attr.key}}: {{attr.value}}
                                </small>
                            </div>
                        </td>
                        <td data-title="Price"><span class="amount"><bdi><span></span>{{ item.giaKhuyenMai > 0 ? item.giaKhuyenMai : item.gia  | number}}đ</bdi></span></td>
                        <td data-title="Quantity"><strong class="product-quantity">{{ item.quantity }}</strong></td>
                        <td data-title="Total"><span class="amount"><bdi><span></span>{{ (item.giaKhuyenMai > 0 ? item.giaKhuyenMai : item.gia) * item.quantity  | number}}đ</bdi></span></td>
                        </tr>
                    </tbody>
                    <tfoot class="checkout-ordertable">
                        <tr class="cart-subtotal">
                        <th>Tổng tiền</th>
                        <td data-title="Subtotal" colspan="4"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol"></span>{{ (totalPrice - discount) | number }}đ</bdi></span></td>
                        </tr>
                        <tr class="woocommerce-shipping-totals shipping">
                        <th>Phí vận chuyển</th>
                        <td data-title="Shipping" colspan="4">0đ</td>
                        </tr>
                        <tr class="order-total">
                        <th>Total</th>
                        <td data-title="Total" colspan="4"><strong><span class="woocommerce-Price-amount amount"><bdi>
                            <span class="woocommerce-Price-currencySymbol"></span>{{ finalTotal | number }} đ</bdi></span></strong>
                        </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="col-12">
                        <div class="woocommerce-form-coupon" style="padding: 20px;">
                            <div class="form-group">
                                <label>Voucher Code</label> 
                                <input type="text" class="form-control" formControlName="voucherCode" placeholder="Nhập mã giảm giá">
                            </div>
                            <div class="form-group"><button type="submit" class="ot-btn" (click)="applyVoucher()">Áp dụng</button></div>
                        </div>
                    </div>
                </div>
                <div class="mt-lg-3 mb-30">
                    <div class="woocommerce-checkout-payment">
                        <ul class="wc_payment_methods payment_methods methods">
                            <li class="wc_payment_method payment_method_VNPAY">
                            <input id="payment_method_VNPAY" type="radio" class="input-radio" name="payment_method" value="VNPAY" checked="checked"> 
                            <label for="payment_method_VNPAY">Thanh toán VNPAY-QR <span class="khuyendung">Khuyên dùng</span> </label>
                            <div class="payment_box payment_method_VNPAY">
                                <p>Thanh toán qua Internet Banking, Visa, Master, JCB, VNPAY-QR</p>
                            </div>
                            </li>
                            <li class="wc_payment_method payment_method_COD">
                            <input id="payment_method_COD" type="radio" class="input-radio" name="payment_method" value="COD"> 
                            <label for="payment_method_COD">Thanh toán khi nhận hàng (COD)</label>
                            <div class="payment_box payment_method_COD">
                                <p>Bạn chỉ phải thanh toán khi nhận được hàng.</p>
                            </div>
                            </li>
                        </ul>
                        <div class="form-row place-order"><button type="submit" class="ot-btn">Đặt hàng</button></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>