
<div class="ot-menu-wrapper" [class.show]="isMobileMenuOpen" [class.ot-body-visible]="isMobileMenuOpen">
  <div class="ot-menu-area text-center">
    <button class="ot-menu-toggle" (click)="toggleMobileMenu()"><i class="fal fa-times"></i></button>
    <div class="mobile-logo"><a href="index.html"><img src="assets/img/logo.svg" alt="Babymart"></a></div>
    <div class="ot-mobile-menu">
        <ul>
          <li>
              <a href="/">Trang chủ</a>
          </li>
          <li class="menu-item-has-children ot-item-has-children" [class.ot-active]="isProductMenuOpen">
              <a href="/danhsachsanpham">Sản Phẩm<span class="ot-mean-expand" (click)="toggleProductMenu(); $event.preventDefault(); $event.stopPropagation()"></span></a>
              <ul class="sub-menu ot-submenu" [class.ot-open]="isProductMenuOpen">
                <li *ngFor="let dm of danhMucsSP"><a href="/danhmucsanpham/{{dm.slug}}">{{dm.ten}}</a></li>
              </ul>
          </li>
          <li class="menu-item-has-children ot-item-has-children" [class.ot-active]="isCamNangMenuOpen">
              <a href="/danhsachcamnang">Cẩm nang<span class="ot-mean-expand" (click)="toggleCamNangMenu(); $event.preventDefault(); $event.stopPropagation()"></span></a>
              <ul class="sub-menu ot-submenu" [class.ot-open]="isCamNangMenuOpen">
                <li *ngFor="let dm of danhMucsCN"><a href="/danhmuccamnang/{{dm.slug}}">{{dm.ten}}</a></li>
              </ul>
          </li>
          <li>
              <a href="/lienhe">Liên hệ</a>
          </li>
          <li><a href="/chinhsach">Chính sách</a></li>
        </ul>
    </div>
  </div>
</div>
<div class="sidemenu-wrapper sidemenu-cart" [class.show]="isCartOpen">
    <div class="sidemenu-content">
      <button class="closeButton sideMenuCls" (click)="toggleCart()"><i class="far fa-times"></i></button>
      <div class="widget woocommerce widget_shopping_cart">
          <h3 class="widget_title">Giỏ hàng</h3>
          <div class="widget_shopping_cart_content">
            <ul class="woocommerce-mini-cart cart_list product_list_widget">
              <li *ngIf="cartItems.length === 0" class="text-center p-3">
                Giỏ hàng trống
              </li>
              <li *ngFor="let item of cartItems" class="woocommerce-mini-cart-item mini_cart_item">
                <a href="javascript:void(0)"
                  class="remove remove_from_cart_button"
                  (click)="removeItem(item.id, item.bienTheId)">
                  <i class="far fa-times"></i>
                </a>
                <a href="chitietsanpham/{{ item.slug }}">
                  <img [src]="getImageUrl(item.anh)" alt="Cart Image">
                  {{ item.ten }}
                </a>
                <span class="quantity">
                  {{ item.quantity }} ×
                  <span class="woocommerce-Price-amount amount">
                    {{ item.giaKhuyenMai > 0 ? item.giaKhuyenMai : item.gia | number }}
                  </span>
                </span>
                <div *ngIf="item.thuocTinhDaChon">
                  <small *ngFor="let attr of item.thuocTinhDaChon | keyvalue">
                    {{attr.key}}: {{attr.value}}
                  </small>
                </div>
              </li>
            </ul>
            <p
                class="woocommerce-mini-cart__total total"><strong>Tổng tiền:</strong>
                <span class="woocommerce-Price-amount amount">{{ totalPrice | number }} đ</span>
            </p>
            <p class="woocommerce-mini-cart__buttons buttons">
              <a href="/giohang" class="ot-btn wc-forward">Xem giỏ hàng</a> 
              <a href="/thanhtoan" class="ot-btn checkout wc-forward">Thanh toán</a>
            </p>
          </div>
      </div>
    </div>
</div>
<div
    class="sidemenu-wrapper sidemenu-info" [class.show]="isInfoOpen">
    <div
      class="sidemenu-content">
      <button
          class="closeButton sideMenuCls" (click)="toggleInfo()"><i
          class="far fa-times"></i></button>
      <div
          class="widget">
          <div class="ot-widget-about">
            <div
                class="about-logo"><a href="index.html"><img
                src="assets/img/logo.svg"
                alt="Babymart"></a></div>
            <p
                class="about-text">An IT consultancy can help you
                assess your technology needs and develop a
                technology strategy that aligns with your
                business
            </p>
            <div class="ot-social"><a
                href="https://www.facebook.com/"><i
                class="fab fa-facebook-f"></i></a> <a
                href="https://www.twitter.com/"><i
                class="fab fa-twitter"></i></a> <a
                href="https://www.linkedin.com/"><i
                class="fab fa-linkedin-in"></i></a> <a
                href="https://www.whatsapp.com/"><i
                class="fab fa-whatsapp"></i></a></div>
          </div>
      </div>
      <div
          class="widget">
          <h3 class="widget_title">Contact Us</h3>
          <div
            class="ot-widget-contact">
            <div class="info-box">
                <div
                  class="info-box_icon"><i
                  class="fas fa-location-dot"></i></div>
                <p
                  class="info-box_text">Malian Avenue, London SZ2
                  52H, United Kingdom
                </p>
            </div>
            <div
                class="info-box">
                <div class="info-box_icon"><i
                  class="fas fa-phone"></i></div>
                <p
                  class="info-box_text"><a
                  href="tel:+2352569321586"
                  class="info-box_link">+(235) 2569-321586</a>
                  <a href="tel:+2352569326254"
                      class="info-box_link">+(235)
                  2569-326254</a>
                </p>
            </div>
            <div
                class="info-box">
                <div class="info-box_icon"><i
                  class="fas fa-envelope"></i></div>
                <p
                  class="info-box_text"><a
                  href="mailto:help24/7babymart.com"
                  class="info-box_link">help24/7babymart.com</a></p>
            </div>
          </div>
      </div>
      <div
          class="widget">
          <h3 class="widget_title">Newsletter</h3>
          <div
            class="newsletter-widget">
            <p class="footer-text">Sign up
                to searing weekly newsletter to get the latest
                updates from us.
            </p>
            <form action="#"
                class="newsletter-form">
                <div
                  class="form-group"><input class="form-control"
                  type="email"
                  placeholder="Enter Email Address"
                  required></div>
                <button type="submit"
                  class="icon-btn"><i
                  class="fal fa-paper-plane"></i></button>
            </form>
          </div>
      </div>
    </div>
</div>
<header
    class="ot-header header-layout1">
    <div class="header-top">
      <div
          class="container">
          <div
            class="row justify-content-center justify-content-lg-between align-items-center gy-2">
            <div
                class="col-auto d-none d-lg-block">
                <div
                  class="header-links">
                  <ul>
                      <li><i
                        class="fas fa-location-dot"></i> <a
                        target="_blank"
                        href="https://www.google.com/maps/">6391
                        Elgin St. Celina, USA</a>
                      </li>
                      <li><i
                        class="fas fa-envelope"></i> <a
                        href="mailto:infoexample.com">infoexample.com</a></li>
                  </ul>
                </div>
            </div>
            <div
                class="col-auto">
                <p class="header-notice">Babymart
                  Flash Discount: Starting at <span
                      class="text-title">30%
                  Off</span>
                </p>
            </div>
            <div
                class="col-auto d-none d-xl-block">
                <div
                  class="header-links">
                  <ul>
                      <li><i
                        class="fal fa-comments-question"></i>
                        <a href="/lienhe">Liên hệ</a>
                      </li>
                      <li *ngIf="!currentUserName">
                        <i class="fal fa-user"></i> <a
                        href="/dangnhap">Đăng nhập</a></li>
                      <li *ngIf="currentUserName" class="user-dropdown">
                        <i class="fal fa-user"></i> <a
                        href="/taikhoancuaban">Xin chào: {{ currentUserName }} <i class="fa-sharp fa-solid fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                          <li>
                            <a (click)="logout()" style="cursor:pointer">Đăng xuất</a>
                          </li>
                        </ul>
                      </li>
                  </ul>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div
      class="sticky-wrapper">
      <div class="menu-area">
          <div
            class="container">
            <div
                class="row align-items-center justify-content-between">
                <div
                  class="col-auto">
                  <div class="header-logo"><a
                      href="index.html"><img
                      src="assets/img/logo.svg"
                      alt="Babymart"></a></div>
                </div>
                <div
                  class="col-auto">
                  <nav
                      class="main-menu d-none d-lg-inline-block">
                      <ul>
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>
                        <li
                            class="menu-item-has-children">
                            <a href="/danhsachsanpham">Sản phẩm</a>
                            <ul class="sub-menu">
                              <li *ngFor="let dm of danhMucsSP"><a href="/danhmucsanpham/{{dm.slug}}">{{dm.ten}}</a></li>
                            </ul>
                        </li>
                        
                        <li
                            class="menu-item-has-children">
                            <a href="/danhsachcamnang">Cẩm nang</a>
                            <ul class="sub-menu">
                              <li *ngFor="let dm of danhMucsCN"><a href="/danhmuccamnang/{{dm.slug}}">{{dm.ten}}</a></li>
                            </ul>
                        </li>
                        <li><a
                            href="/lienhe">Liên hệ</a>
                        </li>
                        <li><a
                            href="/chinhsach">Chính sách</a>
                        </li>
                      </ul>
                  </nav>
                </div>
                <div
                  class="col-auto">
                  <div
                      class="header-button">
                      <div class="search-wrapper d-none d-lg-block">
                        <form class="header-form" (submit)="$event.preventDefault()">
                          <div class="form-group position-relative">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Nhập sản phẩm..."
                              [(ngModel)]="searchKeyword"
                              name="search"
                              (input)="onSearchChange()"
                              (focus)="showDropdown = true"
                              style="border-left: 0;"
                            />

                            <div class="search-dropdown" *ngIf="showDropdown && searchResults.length > 0">
                              <a href="chitietsanpham/{{ item.slug }}" *ngFor="let item of searchResults">
                                <div
                                class="search-item"
                                (click)="goToProduct()"
                              >
                                <img [src]="getImageUrl(item.anh)" />
                                <span>{{ item.ten }}</span>
                              </div>
                              </a>
                              
                            </div>
                          </div>

                          <button type="submit" class="submit-btn simple-icon">
                            <i class="far fa-search"></i>
                          </button>
                        </form>
                      </div>
                      <button type="button"
                        class="icon-btn sideMenuCart" (click)="toggleCart()"><span
                        class="badge">{{ totalQuantity }}</span> <i
                        class="far fa-basket-shopping"></i></button>
                      <button type="button"
                        class="icon-btn sideMenuInfo d-none d-lg-block" (click)="toggleInfo()"><i
                        class="far fa-bars-sort"></i></button>
                      <button type="button"
                        class="ot-menu-toggle d-block d-lg-none" (click)="toggleMobileMenu()"><i
                        class="far fa-bars"></i></button>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</header>
<router-outlet />
<footer class="footer-wrapper footer-layout1" [style.backgroundImage]="'url(assets/img/bg/footer_bg_1.png)'">
    <div
      class="footer-shape1 pulse"><img
      src="assets/img/shape/footer-shape1.png" alt="img"
      ></div>
    <div class="container">
      <div
          class="footer-top">
          <div class="footer-contact-wrap">
            <div
                class="footer-contact" >
                <div
                  class="box-icon"><img
                  src="assets/img/icon/phone.svg"
                  alt="icon"></div>
                <div class="media-body">
                  <p
                      class="box-label">Call Us 7/24</p>
                  <h4
                      class="box-title"><a
                      href="tel:+2085550112">+208-555-0112</a></h4>
                </div>
            </div>
            <div
                class="footer-contact" >
                <div
                  class="box-icon" data-theme-color="'#FE5A86'" style="--theme-color: #FE5A86;"><img
                  src="assets/img/icon/email.svg"
                  alt="icon"></div>
                <div class="media-body">
                  <p
                      class="box-label">Make a Quote</p>
                  <h4
                      class="box-title"><a
                      href="mailto:babymartgmail.com">babymartgmail.com</a></h4>
                </div>
            </div>
            <div
                class="footer-contact" >
                <div
                  class="box-icon" data-theme-color="'#FC800A'" style="--theme-color: #FC800A;"><img
                  src="assets/img/icon/time.svg"
                  alt="icon"></div>
                <div class="media-body">
                  <p
                      class="box-label">Opening Hour</p>
                  <h4
                      class="box-title">Sunday - Fri: 9 aM - 6
                      pM
                  </h4>
                </div>
            </div>
            <div
                class="footer-contact" >
                <div
                  class="box-icon" data-theme-color="'#16C4E3'" style="--theme-color: #16C4E3;"><img
                  src="assets/img/icon/location.svg"
                  alt="icon"></div>
                <div class="media-body">
                  <p
                      class="box-label">Our Location</p>
                  <h4
                      class="box-title">4517 Washington
                      ave.
                  </h4>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div
      class="widget-area">
      <div class="container">
          <div
            class="row justify-content-between">
            <div
                class="col-md-6 col-xl-auto"
                >
                <div
                  class="widget footer-widget">
                  <div
                      class="ot-widget-about">
                      <div
                        class="about-logo"><a
                        href="index.html"><img
                        src="assets/img/logo-footer.svg"
                        alt="Babymart"></a></div>
                      <p
                        class="about-text">Phasellus ultricies
                        aliquam volutpat ullamcorper laoreet
                        neque, a lacinia curabitur lacinia
                        mollis
                      </p>
                      <div class="ot-social"><a
                        href="https://www.facebook.com/"><i
                        class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com/"><i
                            class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/"><i
                            class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.youtube.com/"><i
                            class="fab fa-youtube"></i></a>
                      </div>
                  </div>
                </div>
            </div>
            <div
                class="col-md-6 col-xl-auto"
                >
                <div
                  class="widget widget_nav_menu footer-widget">
                  <h3
                      class="widget_title">Custumers
                      Support
                  </h3>
                  <div
                      class="menu-all-pages-container">
                      <ul
                        class="menu">
                        <li><a
                            href="shop.html">Store
                            List</a>
                        </li>
                        <li><a
                            href="about.html">Opening
                            Hours</a>
                        </li>
                        <li><a
                            href="contact.html">Contact
                            Us</a>
                        </li>
                        <li><a
                            href="about.html">Return
                            Policy</a>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>
            <div
                class="col-md-6 col-xl-auto"
                >
                <div
                  class="widget widget_nav_menu footer-widget">
                  <h3
                      class="widget_title">My Account</h3>
                  <div
                      class="menu-all-pages-container">
                      <ul
                        class="menu">
                        <li><a
                            href="cart.html">Cart
                            Page</a>
                        </li>
                        <li><a
                            href="checkout.html">Checkout</a></li>
                        <li><a
                            href="shop.html">Compare</a></li>
                        <li><a
                            href="wishlist.html">Wishlist</a></li>
                      </ul>
                  </div>
                </div>
            </div>
            <div
                class="col-md-6 col-xl-auto"
                >
                <div
                  class="widget widget_nav_menu footer-widget">
                  <h3
                      class="widget_title">Services</h3>
                  <div
                      class="menu-all-pages-container">
                      <ul
                        class="menu">
                        <li><a
                            href="blog.html">Service
                            Areas</a>
                        </li>
                        <li><a
                            href="blog.html">Toys,
                            Games</a>
                        </li>
                        <li><a
                            href="blog.html">Service
                            Offerings</a>
                        </li>
                        <li><a
                            href="blog.html">Pricing
                            Table</a>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>
            <div
                class="col-md-6 col-xl-auto"
                >
                <div
                  class="widget footer-widget">
                  <h3
                      class="widget_title">Newsletter</h3>
                  <div
                      class="newsletter-widget">
                      <p
                        class="footer-text">Sign up to searing
                        weekly newsletter to get the latest
                        updates.
                      </p>
                      <form action="#"
                        class="newsletter-form">
                        <div
                            class="form-group"><input
                            class="form-control"
                            type="email"
                            placeholder="Enter Email Address"
                            required></div>
                        <button
                            type="submit" class="icon-btn"><i
                            class="fal fa-paper-plane"></i></button>
                      </form>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div
      class="copyright-wrap bg-theme">
      <div
          class="container text-center">
          <div
            class="row gy-3 justify-content-between align-items-center">
            <div
                class="col-md-auto" >
                <p
                  class="copyright-text"><i
                  class="fal fa-copyright"></i> Copyright 2025
                  <a href="index.html">Babymart</a>. All Rights
                  Reserved.
                </p>
            </div>
            <div class="col-md-auto">
                <div
                  class="payment-methods"
                  ><img
                  src="assets/img/normal/payments.png"
                  alt="Icon"></div>
            </div>
          </div>
      </div>
    </div>
</footer>
<!-- Scroll Top Button -->
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>