<div
    class="slider-drag-cursor"><i class="fas fa-angle-left me-2"></i>
    Kéo <i class="fas fa-angle-right ms-2"></i>
</div>
<div
    id="QuickView" class="white-popup mfp-hide">
    <div
      class="container bg-white rounded-10">
      <div
          class="row gx-60">
          <div class="col-lg-6">
            <div
                class="product-big-img">
                <div class="img"><img
                  src="assets/img/product/post-card1-6.png"
                  alt="Product Image"></div>
            </div>
          </div>
          <div
            class="col-lg-6 align-self-center">
            <div
                class="product-about">
                <p
                  class="price">$120.85<del>$150.99</del></p>
                <h2
                  class="product-title">Ultricies At Torquent
                  Dui
                </h2>
                <div class="product-rating">
                  <div
                      class="star-rating" role="img"
                      aria-label="Rated 5.00 out of 5"><span
                      style="width:100%">Rated <strong
                      class="rating">5.00</strong> out of
                      5 based on <span class="rating">1</span>
                      customer rating</span>
                  </div>
                  <a
                      href="shop-details.html"
                      class="woocommerce-review-link">(<span
                      class="count">4</span> customer
                  reviews)</a>
                </div>
                <p class="text">Prepare to
                  embark on a sensory journey with the Bosco
                  Apple, a fruit that transcends the ordinary and
                  promises an unparalleled taste experience. These
                  apples are nothing short of nature’s
                  masterpiece, celebrated for their distinctive
                  blend of flavors and their captivating visual
                  allure.
                </p>
                <div
                  class="mt-2 link-inherit">
                  <p><strong
                      class="text-title me-3">Availability:</strong>
                      <span class="stock in-stock"><i
                        class="far fa-check-square me-2 ms-1"></i>In
                      Stock</span>
                  </p>
                </div>
                <div
                  class="actions">
                  <div class="quantity"><button
                      class="quantity-minus qty-btn"><i
                      class="far fa-minus"></i></button>
                      <input type="number" class="qty-input"
                        step="1" min="1" max="100"
                        name="quantity" value="1" title="Qty">
                      <button class="quantity-plus qty-btn"><i
                        class="far fa-plus"></i></button>
                  </div>
                  <button
                      class="ot-btn">Add to Cart</button> <a
                      href="wishlist.html" class="icon-btn"><i
                      class="far fa-heart"></i></a>
                </div>
                <div
                  class="product_meta"><span
                  class="sku_wrapper">SKU: <span
                  class="sku">Bosco-Apple-Fruit</span></span>
                  <span class="posted_in">Category: <a
                      href="shop.html">Fresh Fruits</a></span>
                  <span>Tags: <a href="shop.html">Fruits</a><a
                      href="shop.html">Organic</a></span>
                </div>
            </div>
          </div>
      </div>
      <button
          title="Close (Esc)" type="button"
          class="mfp-close">×</button>
    </div>
</div>
<div
    class="ot-menu-wrapper">
    <div
      class="ot-menu-area text-center">
      <button
          class="ot-menu-toggle"><i
          class="fal fa-times"></i></button>
      <div
          class="mobile-logo"><a href="index.html"><img
          src="assets/img/logo.svg"
          alt="Babymart"></a></div>
      <div
          class="ot-mobile-menu">
          <ul>
            <li
                class="menu-item-has-children">
                <a href="index.html">Trang chủ</a>
            </li>
            <li
                class="menu-item-has-children">
                <a
                  href="#">Sản phẩm</a>
                <ul class="sub-menu">
                  <li><a
                      href="shop.html">Danh sách sản phẩm</a></li>
                  <li><a
                      href="shop-details.html">Chi tiết sản phẩm</a>
                  </li>
                  <li><a
                      href="cart.html">Giỏ hàng</a></li>
                  <li><a
                      href="checkout.html">Thanh toán</a></li>
                  <li><a
                      href="wishlist.html">Yêu thích</a></li>
                </ul>
            </li>
            
            <li
                class="menu-item-has-children">
                <a
                  href="#">Cẩm nang</a>
                <ul class="sub-menu">
                  <li><a
                      href="blog.html">Blog</a></li>
                  <li><a
                      href="blog-grid.html">Blog Grid
                      Style</a>
                  </li>
                  <li><a
                      href="blog-details.html">Blog
                      Details</a>
                  </li>
                </ul>
            </li>
            <li><a
                href="contact.html">Liên hệ</a>
            </li>
          </ul>
      </div>
    </div>
</div>
<div
    class="sidemenu-wrapper sidemenu-cart">
    <div
      class="sidemenu-content">
      <button
          class="closeButton sideMenuCls"><i
          class="far fa-times"></i></button>
      <div
          class="widget woocommerce widget_shopping_cart">
          <h3
            class="widget_title">Giỏ hàng</h3>
          <div
            class="widget_shopping_cart_content">
            <ul
                class="woocommerce-mini-cart cart_list product_list_widget">
                <li
                  class="woocommerce-mini-cart-item mini_cart_item"><a
                  href="#"
                  class="remove remove_from_cart_button"><i
                  class="far fa-times"></i></a> <a
                  href="#"><img
                  src="assets/img/product/post-card1-1.png"
                  alt="Cart Image">White One-Piece
                  Dress</a> <span class="quantity">1 × <span
                      class="woocommerce-Price-amount amount"><span
                      class="woocommerce-Price-currencySymbol">$</span>940.00</span></span>
                </li>
                <li
                  class="woocommerce-mini-cart-item mini_cart_item"><a
                  href="#"
                  class="remove remove_from_cart_button"><i
                  class="far fa-times"></i></a> <a
                  href="#"><img
                  src="assets/img/product/post-card1-2.png"
                  alt="Cart Image">Round New Red Toy</a>
                  <span class="quantity">1 × <span
                      class="woocommerce-Price-amount amount"><span
                      class="woocommerce-Price-currencySymbol">$</span>899.00</span></span>
                </li>
                <li
                  class="woocommerce-mini-cart-item mini_cart_item"><a
                  href="#"
                  class="remove remove_from_cart_button"><i
                  class="far fa-times"></i></a> <a
                  href="#"><img
                  src="assets/img/product/post-card1-3.png"
                  alt="Cart Image">The Playtime
                  Excitement!</a> <span class="quantity">1 ×
                  <span
                      class="woocommerce-Price-amount amount"><span
                      class="woocommerce-Price-currencySymbol">$</span>756.00</span></span>
                </li>
                <li
                  class="woocommerce-mini-cart-item mini_cart_item"><a
                  href="#"
                  class="remove remove_from_cart_button"><i
                  class="far fa-times"></i></a> <a
                  href="#"><img
                  src="assets/img/product/post-card1-4.png"
                  alt="Cart Image">Brown Lather
                  Carriage</a> <span class="quantity">1 ×
                  <span
                      class="woocommerce-Price-amount amount"><span
                      class="woocommerce-Price-currencySymbol">$</span>723.00</span></span>
                </li>
                <li
                  class="woocommerce-mini-cart-item mini_cart_item"><a
                  href="#"
                  class="remove remove_from_cart_button"><i
                  class="far fa-times"></i></a> <a
                  href="#"><img
                  src="assets/img/product/post-card1-5.png"
                  alt="Cart Image">Ultricies At Torquent
                  Dui</a> <span class="quantity">1 × <span
                      class="woocommerce-Price-amount amount"><span
                      class="woocommerce-Price-currencySymbol">$</span>1080.00</span></span>
                </li>
            </ul>
            <p
                class="woocommerce-mini-cart__total total"><strong>Subtotal:</strong>
                <span class="woocommerce-Price-amount amount"><span
                  class="woocommerce-Price-currencySymbol">$</span>4398.00</span>
            </p>
            <p
                class="woocommerce-mini-cart__buttons buttons"><a
                href="cart.html" class="ot-btn wc-forward">View
                cart</a> <a href="checkout.html"
                  class="ot-btn checkout wc-forward">Checkout</a>
            </p>
          </div>
      </div>
    </div>
</div>
<div
    class="sidemenu-wrapper sidemenu-info">
    <div
      class="sidemenu-content">
      <button
          class="closeButton sideMenuCls"><i
          class="far fa-times"></i></button>
      <div
          class="widget">
          <div class="ot-widget-about">
            <div
                class="about-logo"><a href="index.html"><img
                src="assets/img/logo.svg"
                alt="Babymart"></a></div>
            <p
                class="about-text">An IT consultancy can help you
                assess your technology needs and develop a
                technology strategy that aligns with your
                business
            </p>
            <div class="ot-social"><a
                href="https://www.facebook.com/"><i
                class="fab fa-facebook-f"></i></a> <a
                href="https://www.twitter.com/"><i
                class="fab fa-twitter"></i></a> <a
                href="https://www.linkedin.com/"><i
                class="fab fa-linkedin-in"></i></a> <a
                href="https://www.whatsapp.com/"><i
                class="fab fa-whatsapp"></i></a></div>
          </div>
      </div>
      <div
          class="widget">
          <h3 class="widget_title">Contact Us</h3>
          <div
            class="ot-widget-contact">
            <div class="info-box">
                <div
                  class="info-box_icon"><i
                  class="fas fa-location-dot"></i></div>
                <p
                  class="info-box_text">Malian Avenue, London SZ2
                  52H, United Kingdom
                </p>
            </div>
            <div
                class="info-box">
                <div class="info-box_icon"><i
                  class="fas fa-phone"></i></div>
                <p
                  class="info-box_text"><a
                  href="tel:+2352569321586"
                  class="info-box_link">+(235) 2569-321586</a>
                  <a href="tel:+2352569326254"
                      class="info-box_link">+(235)
                  2569-326254</a>
                </p>
            </div>
            <div
                class="info-box">
                <div class="info-box_icon"><i
                  class="fas fa-envelope"></i></div>
                <p
                  class="info-box_text"><a
                  href="mailto:help24/7babymart.com"
                  class="info-box_link">help24/7babymart.com</a></p>
            </div>
          </div>
      </div>
      <div
          class="widget">
          <h3 class="widget_title">Newsletter</h3>
          <div
            class="newsletter-widget">
            <p class="footer-text">Sign up
                to searing weekly newsletter to get the latest
                updates from us.
            </p>
            <form action="#"
                class="newsletter-form">
                <div
                  class="form-group"><input class="form-control"
                  type="email"
                  placeholder="Enter Email Address"
                  required></div>
                <button type="submit"
                  class="icon-btn"><i
                  class="fal fa-paper-plane"></i></button>
            </form>
          </div>
      </div>
    </div>
</div>
<header
    class="ot-header header-layout1">
    <div class="header-top">
      <div
          class="container">
          <div
            class="row justify-content-center justify-content-lg-between align-items-center gy-2">
            <div
                class="col-auto d-none d-lg-block">
                <div
                  class="header-links">
                  <ul>
                      <li><i
                        class="fas fa-location-dot"></i> <a
                        target="_blank"
                        href="https://www.google.com/maps/">6391
                        Elgin St. Celina, USA</a>
                      </li>
                      <li><i
                        class="fas fa-envelope"></i> <a
                        href="mailto:infoexample.com">infoexample.com</a></li>
                  </ul>
                </div>
            </div>
            <div
                class="col-auto">
                <p class="header-notice">Babymart
                  Flash Discount: Starting at <span
                      class="text-title">30%
                  Off</span>
                </p>
            </div>
            <div
                class="col-auto d-none d-xl-block">
                <div
                  class="header-links">
                  <ul>
                      <li><i
                        class="fal fa-comments-question"></i>
                        <a href="/lienhe">Liên hệ</a>
                      </li>
                      <li><i
                        class="fal fa-user"></i> <a
                        href="/dangnhap">Đăng nhập</a></li>
                  </ul>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div
      class="sticky-wrapper">
      <div class="menu-area">
          <div
            class="container">
            <div
                class="row align-items-center justify-content-between">
                <div
                  class="col-auto">
                  <div class="header-logo"><a
                      href="index.html"><img
                      src="assets/img/logo.svg"
                      alt="Babymart"></a></div>
                </div>
                <div
                  class="col-auto">
                  <nav
                      class="main-menu d-none d-lg-inline-block">
                      <ul>
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>
                        <li
                            class="menu-item-has-children">
                            <a
                              href="#">Sản phẩm</a>
                            <ul
                              class="sub-menu">
                              <li><a
                                  href="/danhsachsanpham">Danh sách sản phẩm</a></li>
                              <li><a
                                  href="/chitietsanpham">Chi tiết sản phẩm</a>
                              </li>
                              <li><a
                                  href="/giohang">Giỏ hàng</a></li>
                              <li><a
                                  href="/thanhtoan">Thanh toán</a></li>
                              <li><a
                                  href="wishlist.html">Yêu thích</a></li>
                            </ul>
                        </li>
                        
                        <li
                            class="menu-item-has-children">
                            <a
                              href="#">Cẩm nang</a>
                            <ul
                              class="sub-menu">
                              <li><a
                                  href="/danhsachcamnang">Danh sách cẩm nang</a></li>
                              <li><a
                                  href="blog-grid.html">Blog
                                  Grid
                                  Style</a>
                              </li>
                              <li><a
                                  href="/chitietcamnang">Chi tiết cẩm nang</a>
                              </li>
                            </ul>
                        </li>
                        <li><a
                            href="/lienhe">Liên hệ</a>
                        </li>
                        <li><a
                            href="/chinhsach">Chính sách</a>
                        </li>
                      </ul>
                  </nav>
                </div>
                <div
                  class="col-auto">
                  <div
                      class="header-button">
                      <form action="#"
                        class="header-form">
                        
                        <div
                            class="form-group"><input
                            type="text" class="form-control"
                            placeholder="Nhập sản phẩm..." style="border-left:none"></div>
                        <button
                            type="submit"
                            class="submit-btn simple-icon"><i
                            class="far fa-search"></i></button>
                      </form>
                      <button type="button"
                        class="icon-btn sideMenuCart"><span
                        class="badge">5</span> <i
                        class="far fa-basket-shopping"></i></button>
                      <button type="button"
                        class="icon-btn sideMenuInfo d-none d-lg-block"><i
                        class="far fa-bars-sort"></i></button>
                      <button type="button"
                        class="ot-menu-toggle d-block d-lg-none"><i
                        class="far fa-bars"></i></button>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</header>
<router-outlet />
<footer
    class="footer-wrapper footer-layout1"
    data-bg-src="assets/img/bg/footer_bg_1.png">
    <div
      class="footer-shape1 pulse"><img
      src="assets/img/shape/footer-shape1.png" alt="img"
      data-cue="slideInUp"></div>
    <div class="container">
      <div
          class="footer-top">
          <div class="footer-contact-wrap">
            <div
                class="footer-contact" data-cue="slideInUp">
                <div
                  class="box-icon"><img
                  src="assets/img/icon/phone.svg"
                  alt="icon"></div>
                <div class="media-body">
                  <p
                      class="box-label">Call Us 7/24</p>
                  <h4
                      class="box-title"><a
                      href="tel:+2085550112">+208-555-0112</a></h4>
                </div>
            </div>
            <div
                class="footer-contact" data-cue="slideInUp">
                <div
                  class="box-icon" data-theme-color="#FE5A86"><img
                  src="assets/img/icon/email.svg"
                  alt="icon"></div>
                <div class="media-body">
                  <p
                      class="box-label">Make a Quote</p>
                  <h4
                      class="box-title"><a
                      href="mailto:babymartgmail.com">babymartgmail.com</a></h4>
                </div>
            </div>
            <div
                class="footer-contact" data-cue="slideInUp">
                <div
                  class="box-icon" data-theme-color="#FC800A"><img
                  src="assets/img/icon/time.svg"
                  alt="icon"></div>
                <div class="media-body">
                  <p
                      class="box-label">Opening Hour</p>
                  <h4
                      class="box-title">Sunday - Fri: 9 aM - 6
                      pM
                  </h4>
                </div>
            </div>
            <div
                class="footer-contact" data-cue="slideInUp">
                <div
                  class="box-icon" data-theme-color="#16C4E3"><img
                  src="assets/img/icon/location.svg"
                  alt="icon"></div>
                <div class="media-body">
                  <p
                      class="box-label">Our Location</p>
                  <h4
                      class="box-title">4517 Washington
                      ave.
                  </h4>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div
      class="widget-area">
      <div class="container">
          <div
            class="row justify-content-between">
            <div
                class="col-md-6 col-xl-auto"
                data-cue="slideInUp">
                <div
                  class="widget footer-widget">
                  <div
                      class="ot-widget-about">
                      <div
                        class="about-logo"><a
                        href="index.html"><img
                        src="assets/img/logo-footer.svg"
                        alt="Babymart"></a></div>
                      <p
                        class="about-text">Phasellus ultricies
                        aliquam volutpat ullamcorper laoreet
                        neque, a lacinia curabitur lacinia
                        mollis
                      </p>
                      <div class="ot-social"><a
                        href="https://www.facebook.com/"><i
                        class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com/"><i
                            class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/"><i
                            class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.youtube.com/"><i
                            class="fab fa-youtube"></i></a>
                      </div>
                  </div>
                </div>
            </div>
            <div
                class="col-md-6 col-xl-auto"
                data-cue="slideInUp">
                <div
                  class="widget widget_nav_menu footer-widget">
                  <h3
                      class="widget_title">Custumers
                      Support
                  </h3>
                  <div
                      class="menu-all-pages-container">
                      <ul
                        class="menu">
                        <li><a
                            href="shop.html">Store
                            List</a>
                        </li>
                        <li><a
                            href="about.html">Opening
                            Hours</a>
                        </li>
                        <li><a
                            href="contact.html">Contact
                            Us</a>
                        </li>
                        <li><a
                            href="about.html">Return
                            Policy</a>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>
            <div
                class="col-md-6 col-xl-auto"
                data-cue="slideInUp">
                <div
                  class="widget widget_nav_menu footer-widget">
                  <h3
                      class="widget_title">My Account</h3>
                  <div
                      class="menu-all-pages-container">
                      <ul
                        class="menu">
                        <li><a
                            href="cart.html">Cart
                            Page</a>
                        </li>
                        <li><a
                            href="checkout.html">Checkout</a></li>
                        <li><a
                            href="shop.html">Compare</a></li>
                        <li><a
                            href="wishlist.html">Wishlist</a></li>
                      </ul>
                  </div>
                </div>
            </div>
            <div
                class="col-md-6 col-xl-auto"
                data-cue="slideInUp">
                <div
                  class="widget widget_nav_menu footer-widget">
                  <h3
                      class="widget_title">Services</h3>
                  <div
                      class="menu-all-pages-container">
                      <ul
                        class="menu">
                        <li><a
                            href="blog.html">Service
                            Areas</a>
                        </li>
                        <li><a
                            href="blog.html">Toys,
                            Games</a>
                        </li>
                        <li><a
                            href="blog.html">Service
                            Offerings</a>
                        </li>
                        <li><a
                            href="blog.html">Pricing
                            Table</a>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>
            <div
                class="col-md-6 col-xl-auto"
                data-cue="slideInUp">
                <div
                  class="widget footer-widget">
                  <h3
                      class="widget_title">Newsletter</h3>
                  <div
                      class="newsletter-widget">
                      <p
                        class="footer-text">Sign up to searing
                        weekly newsletter to get the latest
                        updates.
                      </p>
                      <form action="#"
                        class="newsletter-form">
                        <div
                            class="form-group"><input
                            class="form-control"
                            type="email"
                            placeholder="Enter Email Address"
                            required></div>
                        <button
                            type="submit" class="icon-btn"><i
                            class="fal fa-paper-plane"></i></button>
                      </form>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div
      class="copyright-wrap bg-theme">
      <div
          class="container text-center">
          <div
            class="row gy-3 justify-content-between align-items-center">
            <div
                class="col-md-auto" data-cue="slideInUp">
                <p
                  class="copyright-text"><i
                  class="fal fa-copyright"></i> Copyright 2025
                  <a href="index.html">Babymart</a>. All Rights
                  Reserved.
                </p>
            </div>
            <div class="col-md-auto">
                <div
                  class="payment-methods"
                  data-cue="slideInUp"><img
                  src="assets/img/normal/payments.png"
                  alt="Icon"></div>
            </div>
          </div>
      </div>
    </div>
</footer>
<!-- Scroll Top Button -->
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>