<div class="ot-checkout-wrapper space-top space-extra-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card shadow p-4 rounded-4 text-center">
          <h3 class="mb-4">Đặt hàng thành công</h3>
          <div class="mb-3">
            <img src="assets/img/Success.gif" width="80">
          </div>
          <h5 class="text-success">
            Đơn hàng của bạn đã được ghi nhận
          </h5>
          <hr>
          <p><b>Mã đơn hàng:</b> {{orderId}}</p>
          <p>
            Cảm ơn bạn đã mua hàng tại cửa hàng của chúng tôi.
          </p>
          <p>
            Đơn hàng sẽ được giao trong vòng <b>2-3 ngày</b>.
          </p>
          <button class="ot-btn w-100 mt-3" routerLink="/">
            Tiếp tục mua hàng
          </button>
          <button class="ot-btn w-100 mt-3" routerLink="/taikhoancuaban">
            Theo dõi đơn hàng
          </button>
        </div>
      </div>
    </div>
  </div>
</div>