<div class="ot-checkout-wrapper space-top space-extra-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">

        <div class="card shadow p-4 rounded-4 text-center">

          <h3 class="mb-4">Kết quả thanh toán</h3>

          <div class="mb-3">
            <img 
              [src]="isSuccess ? 'assets/img/Success.gif' : 'assets/img/Error.gif'"
              width="80"
            >
          </div>

          <h5 [ngClass]="isSuccess ? 'text-success' : 'text-danger'">
            {{ statusMessage }}
          </h5>

          <hr>

          <p><b>Mã website:</b> {{ vnp_TmnCode }}</p>
          <p><b>Mã đơn hàng:</b> {{ vnp_TxnRef }}</p>
          <p><b>Mã giao dịch VNPAY:</b> {{ vnp_TransactionNo }}</p>

          <p>
            <b>Số tiền thanh toán:</b>
            {{ (+vnp_Amount! / 100).toLocaleString('vi-VN') }} VNĐ
          </p>

          <p><b>Ngân hàng:</b> {{ vnp_BankCode }}</p>

          <button class="ot-btn w-100 mt-3" (click)="goHome()">
            Tiếp tục mua hàng
          </button>

        </div>

      </div>
    </div>
  </div>
</div>