<div class="breadcumb-wrapper" data-bg-src="assets/img/bg/breadcrumb-bg.html">
    <div class="container">
    <div class="breadcumb-content">
        <h1 class="breadcumb-title" data-cue="slideInUp">Giỏ hàng</h1>
        <ul class="breadcumb-menu">
            <li data-cue="slideInUp" data-delay="100"><a href="index.html">Trang chủ</a></li>
            <li data-cue="slideInUp" data-delay="100">Giỏ hàng</li>
        </ul>
    </div>
    </div>
</div>
<div class="ot-cart-wrapper space-top space-extra-bottom">
    <div class="container">
    <form action="#" class="woocommerce-cart-form">
        <table class="cart_table">
            <thead>
                <tr>
                <th colspan="3" class="cart-col-image">Sản phẩm</th>
                <th class="cart-col-price">Giá</th>
                <th class="cart-col-quantity">Số lượng</th>
                <th class="cart-col-total">Tổng cộng</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="cartItems.length === 0">
                    <td colspan="6" class="text-center p-4">
                        Giỏ hàng trống
                    </td>
                </tr>
                <tr class="cart_item" *ngFor="let item of cartItems">
                <td data-title="Remove">
                    <a href="javascript:void(0)" class="remove" (click)="removeItem(item.id, item.bienTheId)"><i class="far fa-close"></i></a>
                </td>
                <td data-title="Product">
                    <a class="cart-productimage" href="chitietsanpham/{{ item.slug }}">
                        <img width="91" height="91" [src]="getImageUrl(item.anh)" alt="Image">
                    </a>
                </td>
                <td data-title="Name">
                    <a class="cart-productname" href="chitietsanpham/{{ item.slug }}">{{ item.ten }}</a>
                    <div *ngIf="item.thuocTinhDaChon">
                        <small *ngFor="let attr of item.thuocTinhDaChon | keyvalue">
                            {{attr.key}}: {{attr.value}}
                        </small>
                    </div>
                    <div *ngIf="item.quaTangGia > 0">
                        <small><span style="color: rgb(255, 94, 182);">Quà tặng:</span> {{item.quaTangTen}} trị giá {{item.quaTangGia | number}}đ</small>
                    </div>
                </td>
                <td data-title="Price">
                    <span class="amount" *ngIf="item.giaKhuyenMai > 0"><bdi><span>{{item.giaKhuyenMai | number}}đ </span><del>{{item.gia | number}}đ</del></bdi></span>
                    <span class="amount" *ngIf="item.giaKhuyenMai == 0"><bdi><span>{{item.gia | number}}đ</span></bdi></span>
                </td>
                <td data-title="Quantity">
                    <div class="quantity">
                        <button class="quantity-minus qty-btn" (click)="decrease(item)"><i class="far fa-minus"></i></button> 
                        <input type="number" class="qty-input"name="quantity-{{item.id}}-{{item.bienTheId}}" value="{{item.quantity}}" min="1" max="99" [(ngModel)]="item.quantity"> 
                        <button class="quantity-plus qty-btn" (click)="increase(item)"><i class="far fa-plus"></i></button>
                    </div>
                </td>
                <td data-title="Total">
                    <span class="amount"><bdi>{{ ((item.giaKhuyenMai > 0 ? item.giaKhuyenMai : item.gia) * item.quantity) | number }} đ</bdi></span>
                </td>
                </tr>
                <tr>
                <td colspan="6" class="actions">
                    <div class="ot-cart-coupon">
                        <button class="ot-btn totalPrice" 
                            style="border-radius: 0;
                            background-color: transparent;
                            color: black;
                            font-size: larger;">Tổng tiền: {{ totalPrice | number }}đ
                        </button>
                    </div>
                    <a href="/thanhtoan" class="ot-btn">Thanh toán</a> 
                    <a href="/danhsachsanpham" class="ot-btn">Tiếp tục mua hàng</a>
                </td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
</div>