@media (min-width: 1200px) {
  .col-5-custom {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.ot-pagination ul {
  display: inline-flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Nút trang */
.ot-pagination ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #f3f3f3;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  /* 👈 BÀN TAY */
  transition: all 0.25s ease;
}

/* Hover */
.ot-pagination ul li a:hover {
  background: #ff5584;
  color: #fff;
}

/* Trang active */
.ot-pagination ul li a.active {
  background: #ff5584;
  color: #fff;
  pointer-events: none;
}

/* Disabled */
.ot-pagination ul li a.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.product-grid {
  height: 100%;
}

.product-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.gift-wrapper {
  min-height: 28px;
  /* Giữ chỗ cố định cho quà */
}

.gift-placeholder {
  height: 24px;
}

.gift-product {
  font-family: 'Source Sans 3';
  color: #ff51a1;
  margin-left: 6px;
  font-size: 17px;
  font-weight: 600;
}