<div class="breadcumb-wrapper" data-bg-src="assets/img/bg/breadcrumb-bg.html">
    <div class="container">
    <div class="breadcumb-content">
        <h1 class="breadcumb-title" data-cue="slideInUp">Danh sách sản phẩm</h1>
        <ul class="breadcumb-menu">
            <li data-cue="slideInUp" data-delay="100"><a href="index.html">Trang chủ</a></li>
            <li data-cue="slideInUp" data-delay="100">Danh sách sản phẩm</li>
        </ul>
    </div>
    </div>
</div>
<section class="mt-50 space-extra-bottom" id="blog-sec">
    <div class="container">
    <div class="row justify-content-center flex-row-reverse">
        <div class="col-xl-9 col-lg-8">
            <div class="ot-sort-bar">
                <div class="row justify-content-md-between justify-content-center align-items-center">
                <div class="col-auto">
                    <p class="woocommerce-result-count">Showing 1-3 Of 34 Results</p>
                </div>
                <div class="col-auto">
                    <div class="sort-bar-ordering-wrap">
                        <form class="woocommerce-ordering" method="get">
                            <select name="orderby" class="orderby" aria-label="Shop order">
                            <option value="menu_order" selected="selected">Default Sorting</option>
                            <option value="popularity">Sort by popularity</option>
                            <option value="rating">Sort by average rating</option>
                            <option value="date">Sort by latest</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="price-desc">Sort by price: high to low</option>
                            </select>
                        </form>
                        <div class="nav" role="tablist"><a href="#" id="tab-shop-list" data-bs-toggle="tab" data-bs-target="#tab-list" role="tab" aria-controls="tab-list" aria-selected="false"><i class="fa-solid fa-list"></i></a> <a class="active" href="#" id="tab-shop-grid" data-bs-toggle="tab" data-bs-target="#tab-grid" role="tab" aria-controls="tab-grid" aria-selected="true"><i class="far fa-grid-2"></i></a></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="tab-grid" role="tabpanel" aria-labelledby="tab-shop-grid">
                <div class="row gy-30">
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-2.png" alt="Product Image">
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Tinci Dunt Pharetra Soda</a></h3>
                            <span class="price">$30.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">Tinci Dunt Pharetra Soda</a></h3>
                            <span class="price">$30.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-3.png" alt="Product Image"> <span class="product-tag"><span class="tag">-19%</span></span>
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$30.00<del>$39.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$30.00<del>$39.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-4.png" alt="Product Image">
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Brown Lather Carriage</a></h3>
                            <span class="price">$19.00 - $27.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">Brown Lather Carriage</a></h3>
                            <span class="price">$19.00 - $27.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-5.png" alt="Product Image"> <span class="product-tag"><span class="tag">-12%</span></span>
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Ultricies At Torquent Dui</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">Ultricies At Torquent Dui</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-6.png" alt="Product Image"> <span class="product-tag"><span class="tag">-12%</span></span>
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-8.png" alt="Product Image">
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$30.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$30.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-9.png" alt="Product Image">
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Brown Lather Carriage</a></h3>
                            <span class="price">$19.00 - $27.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">Brown Lather Carriage</a></h3>
                            <span class="price">$19.00 - $27.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-10.png" alt="Product Image"> <span class="product-tag"><span class="tag">-12%</span></span>
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Playtime Excitement!</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">Playtime Excitement!</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-1.png" alt="Product Image"> <span class="product-tag"><span class="tag">Hot</span> <span class="offer">-30%</span></span>
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">White One-Piece Dress</a></h3>
                            <span class="price">$19.00<del>$26.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">White One-Piece Dress</a></h3>
                            <span class="price">$19.00<del>$26.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-2.png" alt="Product Image">
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Tinci Dunt Pharetra Soda</a></h3>
                            <span class="price">$30.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">Tinci Dunt Pharetra Soda</a></h3>
                            <span class="price">$30.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-3.png" alt="Product Image"> <span class="product-tag"><span class="tag">-19%</span></span>
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$30.00<del>$39.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$30.00<del>$39.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-4.png" alt="Product Image">
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Brown Lather Carriage</a></h3>
                            <span class="price">$19.00 - $27.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">Brown Lather Carriage</a></h3>
                            <span class="price">$19.00 - $27.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-8.png" alt="Product Image">
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$30.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$30.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-6.png" alt="Product Image"> <span class="product-tag"><span class="tag">-12%</span></span>
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">The Playtime Excitement!</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-9.png" alt="Product Image"> <span class="product-tag"><span class="tag">-12%</span></span>
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Ultricies At Torquent Dui</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">Ultricies At Torquent Dui</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="ot-product product-grid bg-white" data-cue="slideInUp">
                            <div class="product-img">
                            <img src="assets/img/product/post-card1-10.png" alt="Product Image"> <span class="product-tag"><span class="tag">-12%</span></span>
                            <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Playtime Excitement!</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            </div>
                            <div class="product-hover-content">
                            <h3 class="box-title"><a href="shop-details.html">Playtime Excitement!</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <a class="ot-btn" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ot-pagination text-center mt-40">
                    <ul>
                        <li><a href="blog.html" data-cue="slideInUp">Previous</a></li>
                        <li><a href="blog.html" data-cue="slideInUp">1</a></li>
                        <li><a href="blog.html" data-cue="slideInUp">2</a></li>
                        <li><a href="blog.html" data-cue="slideInUp">3</a></li>
                        <li><a href="blog.html" data-cue="slideInUp"><i class="fas fa-ellipsis"></i></a></li>
                        <li><a href="blog.html" data-cue="slideInUp">Next</a></li>
                    </ul>
                </div>
                </div>
                <div class="tab-pane fade" id="tab-list" role="tabpanel" aria-labelledby="tab-shop-list">
                <div class="row gy-30">
                    <div class="col-12">
                        <div class="ot-product product-list bg-white" data-cue="slideInUp">
                            <div class="product-img"><img src="assets/img/product/post-card1-5.png" alt="Product Image"> <span class="product-tag"><span class="tag">-12%</span></span></div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Ultricies At Torquent Dui</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <p class="content">Vestibulum consectetur fringilla tellus, et pulvinar massa tempus nec. Fusce nibh nibh, consectetur vitae felis quis, sagittis ullamcorper enim. Nullam maximus vehicula justo, vel vestibulum turpis dictum at. Nam sed laoreet sem. Aliquam urna massa,</p>
                            <div class="btn-wrap">
                                <a class="ot-btn style7" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                                <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="ot-product product-list bg-white" data-cue="slideInUp">
                            <div class="product-img"><img src="assets/img/product/post-card1-1.png" alt="Product Image"> <span class="product-tag"><span class="tag">Hot</span> <span class="offer">-30%</span></span></div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">White One-Piece Dress</a></h3>
                            <span class="price">$19.00<del>$26.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <p class="content">Vestibulum consectetur fringilla tellus, et pulvinar massa tempus nec. Fusce nibh nibh, consectetur vitae felis quis, sagittis ullamcorper enim. Nullam maximus vehicula justo, vel vestibulum turpis dictum at. Nam sed laoreet sem. Aliquam urna massa,</p>
                            <div class="btn-wrap">
                                <a class="ot-btn style7" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                                <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="ot-product product-list bg-white" data-cue="slideInUp">
                            <div class="product-img"><img src="assets/img/product/post-card1-31.html" alt="Product Image"></div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Flovely And Unicom Erna</a></h3>
                            <span class="price">$19.00</span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <p class="content">Vestibulum consectetur fringilla tellus, et pulvinar massa tempus nec. Fusce nibh nibh, consectetur vitae felis quis, sagittis ullamcorper enim. Nullam maximus vehicula justo, vel vestibulum turpis dictum at. Nam sed laoreet sem. Aliquam urna massa,</p>
                            <div class="btn-wrap">
                                <a class="ot-btn style7" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                                <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="ot-product product-list bg-white" data-cue="slideInUp">
                            <div class="product-img"><img src="assets/img/product/post-card1-6.png" alt="Product Image"></div>
                            <div class="product-content">
                            <h3 class="box-title"><a href="shop-details.html">Ultricies At Torquent Dui</a></h3>
                            <span class="price">$12.00<del>$19.99</del></span>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            </div>
                            <p class="content">Vestibulum consectetur fringilla tellus, et pulvinar massa tempus nec. Fusce nibh nibh, consectetur vitae felis quis, sagittis ullamcorper enim. Nullam maximus vehicula justo, vel vestibulum turpis dictum at. Nam sed laoreet sem. Aliquam urna massa,</p>
                            <div class="btn-wrap">
                                <a class="ot-btn style7" href="cart.html"><i class="fa-light fa-basket-shopping me-1"></i> Add To Cart</a>
                                <div class="actions"><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a> <button class="icon-btn"><i class="fa-light fa-arrows-cross"></i></button> <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a></div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ot-pagination text-center mt-40">
                    <ul>
                        <li><a href="blog.html" data-cue="slideInUp">Previous</a></li>
                        <li><a href="blog.html" data-cue="slideInUp">1</a></li>
                        <li><a href="blog.html" data-cue="slideInUp">2</a></li>
                        <li><a href="blog.html" data-cue="slideInUp">3</a></li>
                        <li><a href="blog.html" data-cue="slideInUp"><i class="fas fa-ellipsis"></i></a></li>
                        <li><a href="blog.html" data-cue="slideInUp">Next</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 sidebar-wrap">
            <aside class="sidebar-area">
                <div class="widget widget_categories2" data-cue="slideInUp">
                <h3 class="widget_title">Sản phẩm theo danh mục</h3>
                <ul>
                    <li><input id="cat-check1" name="cat-check1" type="checkbox" checked="checked"> <label for="cat-check1">Fashion Kid <span class="checkmark"></span></label> <span class="category-number">(2)</span></li>
                    <li><input id="cat-check2" name="cat-check2" type="checkbox"> <label for="cat-check2">Control Toys<span class="checkmark"></span></label> <span class="category-number">(5)</span></li>
                    <li><input id="cat-check3" name="cat-check3" type="checkbox"> <label for="cat-check3">Jigsaw Puzzle<span class="checkmark"></span></label> <span class="category-number">(2)</span></li>
                    <li><input id="cat-check4" name="cat-check4" type="checkbox"> <label for="cat-check4">Smart Toys<span class="checkmark"></span></label> <span class="category-number">(3)</span></li>
                    <li><input id="cat-check5" name="cat-check5" type="checkbox"> <label for="cat-check5">Toy & Game<span class="checkmark"></span></label> <span class="category-number">(2)</span></li>
                    <li><input id="cat-check6" name="cat-check6" type="checkbox"> <label for="cat-check6">Indoor Play<span class="checkmark"></span></label> <span class="category-number">(2)</span></li>
                    <li><input id="cat-check7" name="cat-check7" type="checkbox"> <label for="cat-check7">Outdoor Toy<span class="checkmark"></span></label> <span class="category-number">(2)</span></li>
                </ul>
                </div>
                
                <div class="widget widget_categories2" data-cue="slideInUp">
                <h3 class="widget_title">Shop By Age</h3>
                <ul>
                    <li><input id="age-check1" name="age-check1" type="checkbox" checked="checked"> <label for="age-check1">0-3 years <span class="checkmark"></span></label> <span class="category-number">(16)</span></li>
                    <li><input id="age-check2" name="age-check2" type="checkbox"> <label for="age-check2">4-5 years <span class="checkmark"></span></label> <span class="category-number">(20)</span></li>
                    <li><input id="age-check3" name="age-check3" type="checkbox"> <label for="age-check3">6-7 years<span class="checkmark"></span></label> <span class="category-number">(14)</span></li>
                    <li><input id="age-check4" name="age-check4" type="checkbox"> <label for="age-check4">8-9 years <span class="checkmark"></span></label> <span class="category-number">(12)</span></li>
                    <li><input id="age-check5" name="age-check5" type="checkbox"> <label for="age-check5">10-11 years <span class="checkmark"></span></label> <span class="category-number">(7)</span></li>
                    <li><input id="age-check6" name="age-check6" type="checkbox"> <label for="age-check6">12+ years <span class="checkmark"></span></label> <span class="category-number">(5)</span></li>
                </ul>
                </div>
                <div class="widget widget_categories2" data-cue="slideInUp">
                <h3 class="widget_title">Shop By Size</h3>
                <div class="widget-size-wrap"><a href="#">XL</a> <a href="#">M</a> <a href="#">L</a> <a href="#">S</a> <a href="#">XS</a></div>
                </div>
                <div class="widget widget_categories2" data-cue="slideInUp">
                <h3 class="widget_title">Shop By Rating</h3>
                <ul>
                    <li class="product-rating"><input id="rating-check1" name="rating-check1" type="checkbox" checked="checked"> <label for="rating-check1"><span class="rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </span>5 only <span class="checkmark"></span></label></li>
                    <li class="product-rating"><input id="rating-check2" name="rating-check2" type="checkbox"> <label for="rating-check2"><span class="rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> </span>4 & up <span class="checkmark"></span></label></li>
                    <li class="product-rating"><input id="rating-check3" name="rating-check3" type="checkbox"> <label for="rating-check3"><span class="rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> </span>3 & up <span class="checkmark"></span></label></li>
                    <li class="product-rating"><input id="rating-check4" name="rating-check4" type="checkbox"> <label for="rating-check4"><span class="rating"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> </span>2 & up <span class="checkmark"></span></label></li>
                    <li class="product-rating"><input id="rating-check5" name="rating-check5" type="checkbox"> <label for="rating-check5"><span class="rating"><i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> </span>1 & up <span class="checkmark"></span></label></li>
                </ul>
                </div>
            </aside>
        </div>
    </div>
    </div>
</section>