.product-thumb-wrap {
    display: flex;
    gap: 12px;
    margin-top: 30px;
    justify-content: center;
}

.product-thumb {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.product-thumb:hover {
    border-color: #ddd;
}

.product-thumb.active {
    border-color: #ff4579;
}
