<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let banner of banners">
        <div class="ot-hero-wrapper hero-1">
            <div class="hero-inner">
                <div class="container">
                    <div  class="hero-wrap1" [style.background-image]="'url(' + getImageUrl(banner.anh) + ')'"
                        style="background-size: cover; background-repeat: no-repeat;">
                        <div class="hero-style1">
                            <span class="sub-title mobile-banner-text">
                            {{ banner.moTa }}
                            </span>
                            <h1 class="hero-title text-white mobile-banner-text">
                                {{ banner.tieuDe }}
                            </h1>
                            <div class="btn-group">
                                <a [href]="banner.lienKet" class="ot-btn style-white">
                                Vào gian hàng
                                <i class="fas fa-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</owl-carousel-o>
<section class="mt-60 mb-60">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 col-sm-6">
                <div class="feature-list" data-theme-color="#00BBAE" style="--theme-color: #00BBAE;">
                    <div class="box-icon"><img src="assets/img/icon/feature-icon1-1.svg" alt="icon"></div>
                    <div class="media-body">
                        <h3 class="box-title">Đổi trả &amp; hoàn tiền</h3>
                        <p class="box-text">Đảm bảo hoàn tiền </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-list" data-theme-color="#C062D0" style="--theme-color: #C062D0;">
                    <div class="box-icon"><img src="assets/img/icon/feature-icon1-2.svg" alt="icon"></div>
                    <div class="media-body">
                        <h3 class="box-title">Thanh toán an toàn</h3>
                        <p class="box-text">Giảm 30% khi đăng ký </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-list" data-theme-color="#71D863" style="--theme-color: #71D863;">
                    <div class="box-icon"><img src="assets/img/icon/feature-icon1-3.svg" alt="icon"></div>
                    <div class="media-body">
                        <h3 class="box-title">Hỗ trợ chất lượng</h3>
                        <p class="box-text">Luôn trực tuyến 24/7 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-list" data-theme-color="#16C4E3" style="--theme-color: #16C4E3;">
                    <div class="box-icon"><img src="assets/img/icon/feature-icon1-4.svg" alt="icon"></div>
                    <div class="media-body">
                        <h3 class="box-title">Khuyến mãi hàng ngày</h3>
                        <p class="box-text">Giảm 20% khi đăng ký </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="position-relative space overflow-hidden bg-smoke3">
    <div class="cloud-bg-top-shape1" [style.backgroundImage]="'url(assets/img/shape/cloud.png)'"></div>
    <div class="cloud-bg-bottom-shape1" [style.backgroundImage]="'url(assets/img/shape/cloud.png)'"></div>
    <div class="container">
        <div class="row justify-content-xl-between justify-content-center align-items-center">
            <div class="col-xl-4 col-lg-6 col-md-8">
                <div class="title-area text-xl-start text-center">
                    <h2 class="sec-title">
                        Sản phẩm của chúng tôi
                    </h2>
                </div>
            </div>
            <div class="col-xl-auto">
                <div class="sec-btn">
                    <div class="filter-menu indicator-active justify-content-center">
                        <button *ngFor="let dm of danhMucs" class="link-btn tab-btn" [class.active]="dm.slug === selectedDanhMuc?.slug" (click)="selectDanhMuc(dm)">
                        {{ dm.ten }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse gy-30 justify-content-center">
            <div class="col-xxl-7">
                <div class="row gy-30">
                    <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let sp of sanPhams">
                        <div class="ot-product product-grid bg-white d-flex flex-column h-100" >
                            <div class="product-img">
                                <img [src]="getImageUrl(sp.anh)" alt="Product Image"> 
                                <span class="product-tag" *ngIf="sp.phanTramGiamGia">-{{sp.phanTramGiamGia}}%</span>
                                <div class="actions">
                                    <a href="chitietsanpham/{{ sp.slug }}" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="box-title"><a href="chitietsanpham/{{ sp.slug }}" [title]="sp.ten">{{ sp.ten }}</a></h3>
                                <div class="row">
                                    <div class="woocommerce-product-rating col-6" style="margin: 0;">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5" style="margin: 0;"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    </div>
                                    <div class="col-6" *ngIf="sp.luotMua > 0">
                                        <span>Đã bán: {{sp.luotMua | numberShort}}</span>
                                    </div>
                                </div>
                                <span class="price" *ngIf="sp.giaKhuyenMai == 0">{{ sp.gia | number}}</span>
                                <span class="price" *ngIf="sp.giaKhuyenMai > 0">{{ sp.giaKhuyenMai | number}}<del>{{ sp.gia | number }}</del></span>
                                <div class="gift-wrapper mt-2">
                                    <div *ngIf="sp.quaTangGia > 0; else emptyGift">
                                        <i class="fa-duotone fa-solid fa-gifts fa-bounce fa-xl" style="--fa-primary-color: rgb(234, 68, 142); --fa-secondary-color: rgb(234, 68, 142);"></i>
                                        <span class="gift-product">Tặng: {{ sp.quaTangTen }}</span>
                                    </div>

                                    <ng-template #emptyGift>
                                        <div class="gift-alt">
                                            <i class="fa-regular fa-truck-bolt" style="margin-right: 7px;"></i>
                                            <span>Miễn phí vận chuyển</span>
                                        </div>
                                    </ng-template>
                                </div>
                                <div [innerHTML]="sp.moTaNgan"></div>
                                <a *ngIf="!sp.hasVariants" class="ot-btn style7 w-100 mt-auto" href="javascript:void(0)" (click)="addToCart(sp)" style="font-size: 15px;"><i class="fa-light fa-basket-shopping me-1"></i> Thêm vào giỏ hàng</a>
                                <a *ngIf="sp.hasVariants" class="ot-btn style7 w-100 mt-auto" href="chitietsanpham/{{ sp.slug }}"><i class="fa-regular fa-magnifying-glass me-1"></i> Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ot-pagination text-center mt-5">
                    <ul>
                        <!-- Previous -->
                        <li>
                            <a
                                href="javascript:void(0)"
                                [class.disabled]="page === 1"
                                (click)="page > 1 && changePage(page - 1)">
                                <i class="fa-regular fa-angle-left"></i>
                            </a>
                        </li>

                        <!-- Page numbers -->
                        <li *ngFor="let p of getVisiblePages()">
                            <a
                                *ngIf="p !== '...'; else dots"
                                href="javascript:void(0)"
                                [class.active]="p === page"
                                (click)="changePage(p)">
                                {{ p }}
                            </a>

                            <ng-template #dots>
                                <a>...</a>
                            </ng-template>
                        </li>

                        <!-- Next -->
                        <li>
                            <a
                                href="javascript:void(0)"
                                [class.disabled]="page === totalPages"
                                (click)="page < totalPages && changePage(page + 1)">
                                <i class="fa-regular fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-6 col-lg-8">
                <a href="/danhsachsanpham" class="ad-card">
                <img class="w-100" [src]="thumbnailLeft ? thumbnailLeft : 'assets/img/normal/ad1-1.png'" alt="img">
                </a>
            </div>
        </div>
    </div>
</section>
<section class="mt-60">
    <div class="container">
        <div class="row gy-30 justify-content-center">
            <div class="col-xxl-9 col-xl-7">
                <div class="product-list-wrap1 bg-white">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-auto">
                            <div class="title-area mb-30 text-center">
                                <h3 class="sec-title">Sản phẩm được mua nhiều nhất</h3>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="sec-btn mb-30">
                                <a href="/danhsachsanpham" class="ot-btn style7">Xem thêm<i class="fas fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-30 justify-content-xxl-start justify-content-center">
                        <div class="col-xxl-6 col-xl-12 col-lg-6" *ngFor="let spbc of sanPhamsbanchay">
                            <div class="ot-product list-view style-border flex-column" style="gap: 0;">

                                <div class="d-flex">
                                    <div class="product-img" style="height: fit-content; margin-right: 10px;">
                                        <img [src]="getImageUrl(spbc.anh)" alt="Product Image">
                                    </div>

                                    <div class="product-content">
                                        <h3 class="box-title">
                                            <a href="chitietsanpham/{{ spbc.slug }}">{{spbc.ten}}</a>
                                        </h3>

                                        <div class="row" style="width: 100%;">
                                            <div class="woocommerce-product-rating col-6" style="margin: 0;">
                                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5" style="margin: 0;"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                            </div>
                                            <div class="col-6" *ngIf="spbc.luotMua > 0">
                                                <span>Đã bán: {{spbc.luotMua | numberShort}}</span>
                                            </div>
                                        </div>

                                        <span class="price" *ngIf="spbc.giaKhuyenMai == 0">{{ spbc.gia | number}}</span>
                                        <span class="price" *ngIf="spbc.giaKhuyenMai > 0">
                                            {{ spbc.giaKhuyenMai | number}}
                                            <del>{{ spbc.gia | number }}</del>
                                        </span>

                                        <div class="gift-wrapper mt-2">
                                            <div *ngIf="spbc.quaTangGia > 0; else emptyGift">
                                                <i class="fa-duotone fa-solid fa-gifts fa-bounce fa-xl"></i>
                                                <span class="gift-product">Tặng: {{ spbc.quaTangTen }}</span>
                                            </div>

                                            <ng-template #emptyGift>
                                                <div class="gift-placeholder"></div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-action-wrap">

                                    <a href="chitietsanpham/{{ spbc.slug }}" class="btn-view">
                                        <i class="far fa-eye"></i>
                                    </a>

                                    <a *ngIf="!spbc.hasVariants"
                                    class="btn-cart"
                                    href="javascript:void(0)"
                                    (click)="addToCart(spbc)">
                                    <i class="fa-light fa-basket-shopping me-1"></i>
                                    Thêm vào giỏ hàng
                                    </a>

                                    <a *ngIf="spbc.hasVariants"
                                    class="btn-cart"
                                    href="chitietsanpham/{{ spbc.slug }}">
                                    <i class="fa-regular fa-magnifying-glass me-1"></i>
                                    Xem chi tiết
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-5 col-lg-7">
                <div class="ad-card2">
                    <div class="card-content">
                        <!-- <h4 class="box-title">Máy hút sữa</h4>
                        <p class="card-price">$10.00
                            <del>$20.00</del>
                        </p> -->
                        <div class="btn-wrap">
                            <a href="/danhsachsanpham" class="ot-btn">Ghé shop ngay<i class="fas fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                    <img class="w-100" src="assets/img/normal/ad1-2.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="space overflow-hidden">
    <div class="container">
      <div class="title-area text-center mb-4">
        <h2 class="sec-title">Video TikTok</h2>
      </div>
      <owl-carousel-o [options]="videoOptions">
        <ng-container *ngFor="let video of tiktokVideos">
          <ng-template carouselSlide>
              <div class="video-card">
                  <div class="video-wrapper" style="position: relative; padding-bottom: 177.78%; height: 0; overflow: hidden;">
                      <iframe 
                      [src]="getTikTokEmbedUrl(video.videoId)" 
                      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                      frameborder="0" 
                      scrolling="no" 
                      allowfullscreen>
                      </iframe>
                  </div>
                  <h6 class="text-center mt-3">
                      {{ video.title }}
                  </h6>
              </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
</section> -->
<section class="mt-60">
    <div class="container z-index-common">
        <div class="cta-box position-relative" style="background-image: url('assets/img/bg/cta_bg_2_1.png');">
            <div class="body-particle" id="cta-particle"></div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="box-content text-xl-start text-center">
                        <div class="title-area mb-30">
                            <h2 class="sec-title text-white">Nhận ngay ưu đãi <br class="d-xxl-block d-none">Máy hút sữa siêu hấp dẫn</h2>
                        </div>
                        <a href="/danhsachsanpham" class="ot-btn style-white">Đến cửa hàng ngay<i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-xl-6 align-self-end">
                    <div class="cta-thumb2-1 text-xl-end text-center">
                        <img src="../../../assets/img/normal/spectramultis.png" alt="img" style="margin-right: 90px; margin-bottom: 75px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6">
                <div class="title-area text-center">
                    <h2 class="sec-title"
                        >Tin tức & Bài viết mới nhất của chúng tôi
                    </h2>
                    <p class="sec-text">Interdum
                        et malesuada fames ac ante ipsum primis in
                        faucibus. Donec at nulla nulla. Duis posuere ex
                        lacus
                    </p>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-xxl-3 col-xl-4 col-md-6" *ngFor="let cn of camNangMoiNhat">
                <div class="blog-card style2">
                    <div class="blog-img">
                        <img [src]="getImageUrl(cn.anh)" alt="Blog Image"> 
                        <span class="blog-tag">{{cn.tenDanhMuc}}</span>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a href="/chitietcamnang/{{cn.slug}}">
                                <i class="far fa-calendar-days"></i>{{cn.creationTime | date:'MMM dd, yyyy'}}
                            </a> 
                            <a href="/chitietcamnang/{{cn.slug}}"><i class="far fa-user"></i>Admin VietLifeStore</a>
                        </div>
                        <h3 class="box-title"><a href="/chitietcamnang/{{cn.slug}}">{{cn.ten}}</a>
                        </h3>
                        <a href="/chitietcamnang/{{cn.slug}}" class="link-btn">Xem thêm<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>