/* You can add global styles to this file, and also import other style files */
.product-grid {
    height: 100%;
}

.product-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gift-wrapper {
    min-height: 28px;
    /* Giữ chỗ cố định cho quà */
}

.gift-placeholder {
    height: 24px;
}

.gift-product {
    font-family: 'Source Sans 3';
    color: #ff51a1;
    margin-left: 6px;
    font-size: 17px;
    font-weight: 600;
}

.gift-alt {
    color: #00c700;
    font-size: 17px;
    font-weight: 500;
}
.ot-btn.style7:before{
    background-color: #FE5A86;
}
.ot-btn.style7 {
    color: #FE5A86;
}